redis:
  architecture: standalone
  auth:
    enabled: true
    existingSecret: redis-secret
    existingSecretPasswordKey: password
  master:
    persistence:
      enabled: true
      size: 8Gi
      storageClass: ""

    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  metrics:
    enabled: true
    serviceMonitor: 
      enabled: false
